.waterfallFlow {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  &__title {
    text-align: center;
  }

  &__content {
    position: relative;
    box-sizing: border-box;
    background-color: red;
  }
}

.waterfallItem {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #FFF;
  box-sizing: border-box;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);

  &__img {
    flex: 1;
    overflow: hidden;
    border-radius: 20px;
    background: #f7f7f7;
  }

  img {
    display: inline-block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  &__name {
    margin-top: 10px;
    padding: 0 5px;
    box-sizing: border-box;

    &--placeholder {
      height: 20px;
      background: #fbfbfb
    }
  }
}
